@font-face {
    font-family: NotoSans;
    src: url(@/assets/fonts/NotoSansKawi-VariableFont_wght.ttf);
}
@font-face {
    font-family: Ubuntu;
    src: url(@/assets/fonts/Ubuntu-Regular.ttf);
    font-weight: 100;
}
@font-face {
    font-family: Ubuntu;
    src: url(@/assets/fonts/Ubuntu-Bold.ttf);
    font-weight: 600;
}